
a{
    margin-top: 5px;
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px ;
    text-decoration: none;
}
.Menu{
    width: 100%;
    justify-content: space-around;
    display: flex;
    position: fixed;
    background: rgba(0, 18, 25, 0.2);
    padding: 10px 10px 10px 10px;
    
}
a:hover{
    color:rgb(74, 73, 75);
}
@media(max-width: 320px){
    .Menu{
        display: none;
    }
   
}