.icon{
    margin-top: 0%;
    margin-left: 0%;
    height: 50px;
    width: 50px;
}
.content{
    margin-top:10px ;
    margin-bottom: 0px;
}

.link{
    margin-top: 5px;
    display: block;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font: 10px;
    text-decoration: none;
}
.link a:hover{
    transform: scale(0.98);
            text-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            
}
